body 
{
    color: #574c3f;
    font-family: Corbel, Arial, Helvetica, Vardana, sans-serif;
    font-size: 16px;
    background-color: lavender;
}


#wrapper
{

    width: 1100px;
    margin: auto;
    padding-bottom: 20px;
    background-color: White;
    -moz-boarder-radius: 25px;
    -webkit-boarder-radius: 25px;
    border-radius: 25px;
    overflow: hidden;
    
}
#banner
{
    width: 1100px;
    margin: auto;
    padding-bottom: 5px;
    background-color: White;
    -moz-boarder-radius: 25px;
    -webkit-boarder-radius: 25px;
    border-radius: 25px;
    overflow: hidden;
}


#nevigation
{
    height: 45px;    
    background: -webkit-gradient(linear, right top, left top, color-stop(0%,#f6a005), color-stop(100%,#f6a005));

    background-color: #f6a005;
    color:#2aa925;
}

#nav
{
    display: block;
    list-style: none;
    text-align: center;
}

#nav ul
{
    display: none;
    list-style: none;
        
}



#nav a:link , #nav a:visited , #nav a:active
{
    display: block;
    color: white;
    text-decoration: none;


}

#nav a:hover
{
    background-color: Gray;
}   
 
#content
{
    padding: 20px;
    min-height: 400px;
        
}


#nav li 
{
    color: red;
    float: left;
    font-weight:bold;
    display: block;
    margin-top: 15px;
    text-transform: uppercase;
    padding: 0px 20px 0px 20px;
    border-left: 1px solid #ffffff;
}

.image1 {

    padding-top: 20px;
    padding-left:10px;
    }

#ContentPlaceHolder1_pnlProducts div
{
    float: left;
    width: 250px;
    height: 250px;
    text-align: center;
    
}
.productImage
{
    width: 120px;
    height: 120px;
    vertical-align: central;
    padding: 10px;
    border:groove;
    border-color:gray;
   
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;

}

.prductName 
{
    font-size: 18px;
    font-weight: bold;
}

.productPrice
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: #FFB600;
}

.detailsImage 
{
    width: 400px;
    height: 400px;
    margin-right: 20px;

}

.detailsDescription 
{
    width: 400px;
    font-style:italic;
}
.detailsPrice 
{
    font-size: 20px;
    font-weight: bold;
    color: seagreen;
}
.button1
{
   padding: 10px;
    margin: 10px;
    color: #ffffff;
    border: 0;
   
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
 border-radius: 4px;
    clear: both;
   background: -webkit-gradient(linear, right top, left top, color-stop(0%,green), color-stop(100%,red));
    background: linear-gradient(to top, green, red)
}

.button2
{
   border-style: none;
    border-color: inherit;
    border-width: 0;
    padding: 10px;
    margin: 10px;
    color: #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    clear: both;
   /* FF3.6 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff00dc', EndColorStr='#b200ff')";
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ff00dc),color-stop(1, #b200ff));/* Saf4+, Chrome */
}

.button3
{
   border-style: none;
    border-color: inherit;
    border-width: 0;
    padding: 10px;
    margin: 10px;
    color: #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    clear: both;
   /* FF3.6 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff00dc', EndColorStr='#b200ff')";
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ff00dc),color-stop(1, #b200ff));/* Saf4+, Chrome */
}
.button4
{
   border-style: none;
    border-color: inherit;
    border-width: 0;
    padding: 5px;
    margin: 6px;
    color: black;
    border-radius: 4px;
    font-size:small;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    clear: both;
   /* FF3.6 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff00dc', EndColorStr='#b200ff')";
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ff00dc),color-stop(1, #b200ff));/* Saf4+, Chrome */
}
.detailsAmount 
{
   padding: 5px;
    margin: 5px;
    color: red;
    
}
.inputs 
{
    -moz-boarder-radius: 5px;
    -webkit-boarder-radius: 5px;
    background-color: #d5d7d5;
 
    border: 1px solid #CACACA;
    color: #444;
    margin: 0 0 25px;
    padding-bottom: 5px 9px;
    width: 260px;

    }

.inputs:focus 
{
   
    background: #fff;
    -webkit-box-shadow: 0 0 25px #CCC;
    -moz-box-shadow: 0 0 25px #CCC;
    box-shadow: 0 0 25px #CCC;
    
}

.cartTable {

    text-align: center;
    border: 15px solid #dcdad4;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}

    .cartTable input {
        width: 65px;
        height: 65px;
    }

    .cartTable h4 {
        padding: 0;
        margin: 0;
    }

    .cartTable tr td select {
        width: 100px;
    }
#menu {

    width: 180px;
    margin-top:10px;
    
}

#menu ul {

    list-style: none;
    padding-left: 5px;
}
#menu ul li {
    
    margin-top:15px;
    font-size: 16px;
   
    font-family: Tahoma;
  
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    -moz-border-radius: 0px 20px 20px 0px;
    -webkit-border-radius: 0px 20px 20px 0px;
    border-radius: 0px 20px 20px 0px;
    padding-left: 2px;
    box-shadow: 5px 0px 10px #939393;
    -webkit-box-shadow: 5px 0px 10px #939393;
    -moz-box-shadow: 5px 0px 10px #939393;
    background: -webkit-gradient(linear, right top, left top, color-stop(0%,#898484), color-stop(100%,#f6a005));
    background: linear-gradient(to top, #898484, #f6a005);

   /* background: -webkit-gradient(linear, right top, left top, color-stop(0%,#898484), color-stop(100%,#f6a005));
    background: linear-gradient(to top, #898484, #f6a005);*/
     background: #f6a005;
background: -webkit-gradient(linear, left top, left bottom, from(#f6a005), to(#898484));
background: -webkit-linear-gradient(#f6a005, #898484);
background: -moz-linear-gradient(top, #f6a005,#898484);
background: -ms-linear-gradient(#f6a005, #898484);
background: -o-linear-gradient(#f6a005, #898484);
background: linear-gradient(#f6a005, #f6a005);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6a005', endColorstr='#898484');
zoom: 1;
    -webkit-transition: padding-left 0.6s;
    transition:padding-left 0.6s;
    -webkit-transition:padding-left 0.6s;
    -moz-transition:padding-left 0.6s;
    -o-transition:padding-left 0.6s;
     
    position: relative;
}
#menu a:link , #menu a:visited , #menu a:active
{
    display: block;
     color: White;
    text-decoration: none;

}

#menu ul li:hover {

    padding-left: 50px;
    }

#tree1 ul {

    list-style: none;
    padding-left: 5px;
}
#tree1 ul li
{
        
    margin-top:15px;
    font-size: 10px;

    font-family: Tahoma;

    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 20px 20px 0px;
    padding-left: 2px;
    box-shadow: 5px 0px 10px #939393;
   /* background: -webkit-gradient(linear, right top, left top, color-stop(0%,#49cb0c), color-stop(100%,#f6a005));
    background: linear-gradient(to top, #49cb0c, #f6a005);*/
     background: #f6a005;
background: -webkit-gradient(linear, left top, left bottom, from(#f6a005), to(#49cb0c));
background: -webkit-linear-gradient(#f6a005, #49cb0c);
background: -moz-linear-gradient(top, #f6a005,#49cb0c);
background: -ms-linear-gradient(#f6a005, #49cb0c);
background: -o-linear-gradient(#f6a005, #49cb0c);
background: linear-gradient(#f6a005, #49cb0c);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6a005', endColorstr='#49cb0c');
zoom: 1;
    -webkit-transition: padding-left 0.6s;
    transition:padding-left 0.6s;
    -webkit-transition:padding-left 0.6s;
    -moz-transition:padding-left 0.6s;
    -o-transition:padding-left 0.6s;
     
    position: relative;
    }
#tree1 a:link , #tree1 a:visited , #tree1 a:active
{
    display: block;
       font-size: 10px;
    color: White;
    text-decoration: none;

}
#tree1 ul li:hover {

    padding-left: 50px;
    }